
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        @*<h1 style="text-align:center">Curso de matemática</h1>*@
    </div>
    <div class="row col-lg-12" style="margin-top:100px">
        <div class="col-lg-4">
            <img src="~/Content/assets/img/fig5.PNG" style="display: block;margin-left: auto;margin-right: auto;width:250px;height:450px" />
        </div>
        <div class="col-lg-8">
            <input type="text" id="simpleinput" placeholder="BUSCAR MATERIAL DE CURSO" style="margin-bottom:20px">
            <h4 for="simpleinput" style="font-weight: bold;margin-bottom:20px;">MATERIALES PROBLEMAS MATEMATICOS</h4>
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/Content/assets/img/fig6.PNG" style="display: block;margin-left: auto;margin-right: auto;" />
                </div>
                <div class="col-lg-7">
                    <a class="button small col-lg-12" style="background-color:blue;color:white" href="@Url.Action("ProblenAditionStart","MathProblem")">PROBLEMAS DE ADICIÓN</a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig12.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig13.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig14.jpg" width="40px" height="40px" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/Content/assets/img/fig6.PNG" style="display: block;margin-left: auto;margin-right: auto;" />
                </div>
                <div class="col-lg-7">
                    <a class="button small col-lg-12" style="background-color:orange;color:white">PROBLEMAS DE SUSTRACCIÓN</a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig12.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig13.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig14.jpg" width="40px" height="40px" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/Content/assets/img/fig6.PNG" style="display: block;margin-left: auto;margin-right: auto;" />
                </div>
                <div class="col-lg-7">
                    <a class="button small col-lg-12" style="background-color:green;color:white">----------</a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig12.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig13.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig14.jpg" width="40px" height="40px" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-lg-1">
                    <img src="~/Content/assets/img/fig6.PNG" style="display: block;margin-left: auto;margin-right: auto;" />
                </div>
                <div class="col-lg-7">
                    <a class="button small col-lg-12" style="background-color:pink;color:white">-----------</a>
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig12.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig13.jpg" width="40px" height="40px" />
                        </div>
                        <div class="col-lg-4">
                            <input type="image" src="~/Content/assets/img/fig14.jpg" width="40px" height="40px" />
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <a class="col-lg-2 button small" style="background-color:red; color:white" href="@Url.Action("Cursos","MainStudent")">ATRAS</a>
        </div>
    </div>
</div>

