
@{
    ViewBag.Title = "Games";
}

<h2>Games</h2>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px">
    <div class="row">
        <div class="col-lg-1" style="margin-top:20%">
        </div>
        <div class="col-lg-2" style="margin-top:22%">
            <a class="col-lg-12 button small" style="background-color:blue;  color:white;" data-send href="@Url.Action("Juego1","MathOperation")">JUEGO 1</a>
        </div>
        <div class="col-lg-2" style="margin-top:38%">
            <a class="col-lg-12 button small" style="background-color:blue;  color:white" data-send>JUEGO 2</a>
        </div>
        <div class="col-lg-2" style="margin-top:22%">
            <a class="col-lg-12 button small" style="background-color:blue;  color:white" data-send>JUEGO 3</a>
        </div>
        <div class="col-lg-2" style="margin-top:38%">
            <a class="col-lg-12 button small" style="background-color:blue;  color:white;" data-send>JUEGO 4</a>
        </div>
        <div class="col-lg-2" style="margin-top:22%">
            <a class="col-lg-12 button small" style="background-color:blue;  color:white" data-send>JUEGO 5</a>
        </div>
        <div class="col-lg-1" style="margin-top:20%">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1" style="margin-top:20%">
        </div>
        <div class="col-lg-2" style="margin-top:12%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white;" data-send href="@Url.Action("Level","MathOperation")">ATRAS</a>
        </div>
    </div>
</div>
