
@{
    ViewBag.Title = "Juego2";
}

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px">
    <div class="row">
        <div class="col-lg-4" style="margin-top:30%">
            <a class="col-lg-12 button small" style="background-color:forestgreen;  color:white;" data-send href="@Url.Action("Games","MathOperation")">BASICO</a>
        </div>
        <div class="col-lg-4" style="margin-top:30%">
            <a class="col-lg-12 button small" style="background-color:darkorange;  color:white" data-send href="@Url.Action("Games","MathOperation")">INTERMEDIO</a>
        </div>
        <div class="col-lg-4" style="margin-top:30%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white" data-send href="@Url.Action("Games","MathOperation")">AVANZADO</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-1" style="margin-top:20%">
        </div>
        <div class="col-lg-2" style="margin-top:22%">
            <a class="col-lg-12 button small" style="background-color:red;  color:white;" data-send>ATRAS</a>
        </div>
    </div>
</div>
