
@{
    ViewBag.Title = "Juego5";
}

<h2>Juego5</h2>

<div style="background-image: url('../../Content/assets/img/fig16.jpg');height:780px">
    <div class="row">
        <div class="col-lg-6">

            <img src="~/Content/assets/img/fig3.jpg" />
        </div>
        <div class="col-lg-6"></div>

    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>