
@{
    ViewBag.Title = "ProblenAditionStart";
}

<div class="row">
    <div class="col-lg-12">
        @*<h1 style="text-align:center">Curso de matemática</h1>*@
    </div>
    <div class="row col-lg-12" style="margin-top:100px">
        <div class="col-lg-4">
            <img src="~/Content/assets/img/fig7.jpg" style="display: block;margin-left: auto;margin-right: auto;width:250px;height:350px" />
        </div>
        <div class="col-lg-8">
            <img src="~/Content/assets/img/fig18.jpg" style="display: block;margin-left: auto;margin-right: auto;width:auto;height:300px" />
            <div class="row">
                <div class="col-lg-6">
                    <a class="col-lg-6 button small" style="background-color:red; color:white" href="@Url.Action("Index","MathOperation")">ATRAS</a>
                </div>
                <div class="col-lg-6">
                    <a class="col-lg-6 button small" data-start-class style="background-color:orange; color:white">INICIAR CLASE</a>
                    <a class="col-lg-8 button small" data-start-example style="background-color:cadetblue; color:white" href="@Url.Action("Question1","MathOperation")" hidden="hidden">EXPLICACIÓN EJEMPLO</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('[data-start-class]').on('click', function () {
            $('[data-start-example]').removeAttr('hidden', 'hidden');
            $('[data-start-class]').prop('hidden','hidden');
        });
    </script>    
}