
@{
    ViewBag.Title = "Question2";
}


<div class="row">
    <div class="col-lg-12">
        @*<h1 style="text-align:center">Curso de matemática</h1>*@
    </div>
    <div class="row col-lg-12" style="margin-top:100px">
        <div class="col-lg-4">
            <img src="~/Content/assets/img/fig7.jpg" style="display: block;margin-left: auto;margin-right: auto;width:250px;height:350px" />
        </div>
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig23.jpg" style="display: block;margin-left: auto;margin-right: auto;height:400px" class="col-lg-12" />
            <div class="row">
                <div class="col-lg-4">
                    <a class="col-lg-6 button small" style="background-color:red; color:white" href="@Url.Action("Question1","MathOperation")">ATRAS</a>
                </div>
                <div class="col-lg-4">
                    <a class="col-lg-10 button small" data-start-class style="background-color:orange; color:white">INICIAR CLASE</a>
                </div>
                <div class="col-lg-4">
                    <a class="col-lg-10 button small" data-start-box style="background-color:cadetblue; color:white" hidden="hidden" data-answer-box>HABILITAR CUADRO PREGUNTA</a>
                    <a class="col-lg-10 button small" data-next style="background-color:forestgreen; color:white" hidden="hidden" data-answer-box href="@Url.Action("Question3","MathOperation")">SIGUIENTE</a>
                </div>
            </div>
        </div>
        <div class="col-lg-2" data-box hidden="hidden">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align:center">RESPONDER A LA PREGUNTA</h4>
                    <br />
                    <textarea class="col-lg-12"></textarea>
                    <hr />
                    <a class="col-lg-12 button small" style="background-color:green;  color:white" data-send>ENVIAR</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('[data-start-class]').on('click', function () {
            $('[data-start-box]').removeAttr('hidden', 'hidden');
            //$('[data-start-class]').prop('hidden','hidden');
        });
        $('[data-start-box]').on('click', function () {
            $('[data-box]').removeAttr('hidden', 'hidden');
            $('[data-start-box]').prop('hidden', 'hidden');
        });

        $('[data-send]').on('click', function () {
            $('[data-next]').removeAttr('hidden', 'hidden');
        });
    </script>
}