@model SistemaLudico.ViewModels.MainStudent.ResultViewModel
@{
    ViewBag.Title = "Result";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .fondo {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .centervertical {
        margin: 0;
        position: relative;
        top: 30%;
        -ms-transform: translateY(-30%);
        transform: translateY(-30%);
    }
</style>


<div class="fondo" style="background-image: url('@Url.Content("../../Content/assets/img/Fondos/Fondo_Avatar.png")');" >
   

    <div data-reto class="centervertical">
        <br />
        <br />
        <div class="grid grid-4-4-4 centered">
            <div class="grid-column">
                <h1 style="text-align:center; color:black"> Resultado del Juego </h1>
            </div>
        </div>
        <br />
        <div class="grid grid-4-4-4 centered">
            <div class="grid-column">
            </div>
            <div class="grid-column">
                <img src="@Url.Content("~/Content/assets/img/fig4.PNG")" width="385" height="385" />
            </div>
            <div class="grid-column">
            </div>
        </div>
        <br />
        <div class="grid grid-4-4-4 centered">
            <div class="grid-column card" style="opacity: 0.8;padding-top: 30px;padding-bottom: 30px;margin-bottom: 10px;">
                <h1 style="text-align:center; color:black;font-size: 60px;font-weight: bold;"> @Model.MensajeFinal </h1>
            </div>
        </div>
        <div class="grid grid-4-4-4 centered">
            <div class="grid-column">
                <a class="btn" style="background-color:green;  color:white;font-size: 20px;font-weight: bold;"  href="@Url.Action("Games", "MathOperation", new { TemaId = Model.Ejercicio.TemaId, LevelBIA = Model.Ejercicio.LevelBIA})">
                    Pasar al siguiente Juego
                </a>
            </div>
        </div>
    </div>
</div>