@model SistemaLudico.ViewModels.MainStudent.LoginStudentViewModel
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        @*<h1 style="text-align:center">Curso de matemática</h1>*@
    </div>
    <div class="row col-lg-12" style="margin-top:100px">
        <div class="col-lg-6">
            <img src="~/Content/assets/img/fig9.jpg" style="display: block;margin-left: auto;margin-right: auto;width:450px;height:450px" />
        </div>
        <div class="col-lg-6">
            <h2 class="header-title" style="text-align:center;font-weight: bold;">!A COMENZAR EL JUEGO GRAN RETO MATEMÁTICO¡</h2>
            <br />
            <div class="row">
                <div class="col-lg-12">
                    <form method="post" action="@Url.Action("Index","MainStudent")">

                        <div class="form-group mb-3">
                            <h4 for="simpleinput" style="font-weight: bold;margin-bottom:10px;">Ingrese su nombre</h4>
                            @Html.TextBoxFor(x=>x.Nombre, new { @class="form-control" })
                        </div>

                        <div class="form-group mb-3">
                            <h4 for="simpleinput" style="font-weight: bold;margin-bottom:10px;">Ingrese su apellido</h4>
                            @Html.TextBoxFor(x => x.Apellido, new { @class = "form-control" })
                        </div>

                        <div class="form-group mb-3">
                            <h4 for="simpleinput" style="font-weight: bold;margin-bottom:10px;">Ingrese su codigo de alumno</h4>
                            @Html.TextBoxFor(x => x.Codigo, new { @class = "form-control" })
                        </div>
                        <br />
                        <div class="form-group mb-3">
                            <button type="submit" class="button small" style="background-color:red">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- end row-->


        </div>
    </div>
</div>
